<section
    id="hero"
    class="hero-widget h-screen flex flex-col pt-6 px-6 lg:px-20 items-center justify-center overflow-hidden bg-gradient-to-t from-red-600/50 via-primary-600/50 to-black-600/50 animate-fadein"
    @fadeIn
>
    <div class="mt-32 text-center">
        <h1 class="text-7xl md:text-9xl font-bold mb-4">¡Hola! Soy Maicol Hernandez</h1>
        <p class="text-lg md:text-2xl text-semibold mt-4 font-semibold dark:text-primary-200/40">
            Desarrollador Fullstack | Diseño Moderno | UI/UX
        </p>
    </div>
    <button class="absolute bottom-16 flex items-center justify-center" (click)="scrollToContent()">
        <span
            class="relative w-10 h-20 border-2 border-slate-800/50 dark:border-slate-300 rounded-full flex items-center justify-center overflow-hidden"
        >
            <i class="pi pi-arrow-down slidedown-icon text-slate-800/50 dark:text-slate-300 text-xl"></i>
        </span>
    </button>
</section>
