<mat-toolbar>
  <button mat-icon-button class="icon" aria-label="">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <span>Here the name</span>
  <span class="spacer"></span>
  <button mat-button>Inicio</button>
  <button mat-button (click)="scrollToSection('about')">Acerca de</button>
  <button mat-button (click)="scrollToSection('experience')">Experiencia</button>
  <button mat-button (click)="scrollToSection('services')">Servicios</button>
  <button mat-button (click)="scrollToSection('portfolio')">Portafolio</button>
  <button mat-button (click)="scrollToSection('contact')">Contactame</button>
  <span class="spacer"></span>

  <button mat-icon-button class="icon dark-mode-icon" aria-label="">
    <mat-icon>dark_mode</mat-icon>
  </button>
</mat-toolbar>
