<mat-toolbar color="primary" class="example-toolbar">
    <!-- Button to open side navigation on small devices -->
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>
    <a routerLink="/">
        <img class="brand-logo" src="/assets/logo.svg" alt="logo" aria-hidden="true" />
        Your Name
    </a>
    <span class="spacer"></span>

    <!-- Menu for large devices -->
    <div class="desktop-menu">
        @for (nav of fillerNav; track nav) {
            <a mat-button [href]="nav.path">
                {{ nav.name }}
            </a>
        }
    </div>

    <span class="spacer"></span>
    <!-- test commit -->
    <!-- Theme toggle component -->
    <app-theme-toggle></app-theme-toggle>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="isMobile() ? 56 : 0">
    <mat-sidenav #sidenav [mode]="isMobile() ? 'over' : 'side'" [fixedInViewport]="isMobile()" [fixedTopGap]="56">
        <mat-nav-list>
            @for (nav of fillerNav; track nav) {
                <a mat-list-item [href]="nav.path">
                    {{ nav.name }}
                </a>
            }
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-home></app-home>
        <app-about></app-about>
        <app-experience></app-experience>
        <service></service>
        <portfolio></portfolio>
        <contacts></contacts>
    </mat-sidenav-content>
</mat-sidenav-container>
