// .sidenav-container {
//   height: 100vh;
// }

// .toolbar {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 0 16px;
// }

// .desktop-menu {
//   display: flex;
//   gap: 16px;
// }

// .sidenav {
//   width: 250px;
// }

// .menu-button {
//   display: none;
// }

.spacer {
  flex-grow: 1;
}

// @media (max-width: 800px) {
//   .menu-button {
//     display: block;
//   }

//   .desktop-menu {
//     display: none;
//   }
// }

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
