html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.cursor-active .cursor-dot,
body.cursor-active .cursor-ring {
  opacity: 1;
}

input,
textarea,
[contenteditable] {
  cursor: text !important;
}

button,
a,
.clickable {
  cursor: pointer !important;
}